*, *::before  *::after {
    box-sizing: border-box;
}

body {
display: inline-block;
font-family: 'Cabin', sans-serif;
margin: 0;
}

.song-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.song {
    display: block;
    text-align: center;
}

.song-title {
    font-size: 35px;
}

.song-author {
    font-style: italic;
}

.song-text {
    font-size: 18px;
}
